// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

@font-face {
  font-family: 'KiloGram';
  font-display: block;
  src: url('../fonts/kilogram.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Bold';
  font-display: block;
  src: url('../fonts/nexa-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nexa Light';
  font-display: block;
  src: url('../fonts/nexa-light.otf') format('opentype');
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.amp-product {
	font-family: 'KiloGram';
	font-size: 2.5em;
	color: #b5b5b5;
}

.amp-product:hover {
	color: $ampPink;
}
