// VARIABLES

$primary-color: #2980b9;
$secondary-color: #6dd5fa;

$primary: #0B2D39;
$link: #0B2D39;

$body-family: 'Nexa Light';
$title-family: 'Nexa Light';
$subtitle-family: 'Nexa Light';

$ampPink: #ed177e;